<p class="title">Sugar</p>

<p class="select" *ngIf="select.length == 0">[ничего не выбрано]</p>
<div *ngIf="select.length != 0">
  <span class="select">[</span>
  <span class="select" *ngFor="let food of select" (click)="deleteFood(food)">{{food.food.name}}({{food.count}})</span>
  <span class="select">]</span>
</div>

<form class="form" [formGroup]="formFood" novalidate (ngSubmit)="sendFormFood()">
  <mat-form-field class="example-full-width" appearance="fill" style="width: 300px;">
    <mat-label style="font-size: 20px;">Введите название продукта</mat-label>
    <input type="text" matInput [formControl]="foodControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option style="font-size: 20px;" *ngFor="let food of filteredFood | async" [value]="food" (click)="addFood(food)">
        <span class="unit">{{food.unit}}</span> {{food.name}} (<span class="amount">{{food.amount}}</span>)
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-form-field" appearance="fill" style="width: 300px;">
    <mat-label style="font-size: 20px;">{{question}}</mat-label>
    <input style="font-size: 20px;" matInput type="text" formControlName="count">
    <div *ngIf="formFood.controls['count'].invalid && formFood.controls['count'].touched" style="color: red">
      Введите цифру!
    </div>
  </mat-form-field>

  <button mat-raised-button color="primary" style="width: 300px;" [disabled]="formFood.invalid">Добавить в список</button>
</form>

<button class="btn__clean" (click)="clear()">Очистить</button>
<button class="btn__calc" (click)="calcFood()">Посчитать</button>

<div class="popup" *ngIf="popup">
  <form class="form" [formGroup]="sugarForm" novalidate (ngSubmit)="sendSugarForm()">
    <mat-form-field class="example-form-field" appearance="fill" style="width: 300px;">
      <mat-label style="font-size: 20px;">Введи свой сахар</mat-label>
      <input style="font-size: 20px;" matInput type="text" formControlName="sugar">
      <div *ngIf="sugarForm.controls['sugar'].invalid && sugarForm.controls['sugar'].touched" style="color: red">
        Введите цифру!
      </div>
    </mat-form-field>
    <button mat-raised-button color="primary" style="width: 300px;" [disabled]="sugarForm.invalid">Посчитать</button>
    <p class="popup__title">~{{ round }} <span>({{ sum }})</span></p>
    <p class="popup__title" style="font-size: 36px;">Тебе следует уколоть: {{ needSugar }}</p>
    <button type="button" class="popup__btn" (click)="back()">Назад</button>
  </form>
</div>